section {
    margin: 1%;
    width: 29%;
}

.mycontainer {
    display: flex;
    flex-wrap: wrap;
}

.card-img > img {
    width: 100%;
}

.bg-image{
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/blue-triangles-on-white-background-loop_ey_14xtbx__F0000.png
    ) center no-repeat ;
    background-size: cover;
    
}
